@model GetNewsListDto

<div class="news-list-container mb-3">
    <div class="news-list-container__list row g-3">
        @foreach (var news in Model.Result.Items)
        {
            <div class="news-list-container__list__item col-12">
                <partial name="_NewsItemExtendedCard" model="@news" />
            </div>
        }
    </div>
</div>