<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p>© 2024 <a href="https://github.com/Lev4and">Lev4and</a></p>
    <p class="mb-0">
        <a href="#">Back to top</a>
    </p>
</footer>