<div class="hotline-header">
    <div class="hotline-header__header">
        <h1>Hotline</h1>
        <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="hotline-header__local-time">
        <strong class="h3"></strong>
    </div>
</div>
<hr />
<div class="hotline-container">

</div>
