<div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
        <a class="nav-item nav-link link-body-emphasis" asp-route="Main">Home</a>
        <a class="nav-item nav-link link-body-emphasis" asp-route="NewsList">News</a>
        <a class="nav-item nav-link link-body-emphasis" asp-route="Authors">Authors</a>
        <a class="nav-item nav-link link-body-emphasis" asp-route="Sources">Sources</a>
    </nav>
</div>