@model IReadOnlyCollection<News>

<div>
  <h4 class="fst-italic">Recent news</h4>
  <ul class="list-unstyled">
    @foreach (var news in Model)
    {
      <li>
        <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
          <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg>
          <div class="col-lg-8">
            <h6 class="mb-0">@news.Title</h6>
            <small class="text-body-secondary">@news.PublishedAt?.ToString("dd MMMM yyyy, HH:mm:ss")</small>
          </div>
        </a>
      </li>
    }
  </ul>
</div>

