@model GetNewsEditorListDto

<h1 class="authors-list-header" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="@($"Show {Model.Result.GetFormattedShowedItems()} from {Model.Result.GetFormattedTotalItems()} news editors")">Show @Model.Result.GetFormattedShowedItems() from @Model.Result.GetFormattedTotalItems() news editors</h1>
<hr />
<div class="authors-list-container mb-3">
    <div class="authors-list-container__grid row text-center g-3">
        @foreach (var editor in Model.Result.Items)
        {
            <partial name="_ListItem" model="@editor" />
        }
    </div>
</div>