@model IReadOnlyCollection<NewsEditor>
@{
    ViewData["Title"] = "Authors";
}

<div class="authors-grid row mb-3 text-center gy-5">
    @foreach (var editor in Model)
    {
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <div class="row justify-content-around h-100">
                        @if (editor.Source is not null)
                        {
                            <div class="col-12 align-self-center">
                                <a class="text-decoration-none" asp-route="Source" asp-route-id="@editor.Source.Id">
                                    @editor.Source.Title
                                </a>
                            </div>
                        }
                        <div class="col-12 align-self-center">
                            <a class="text-decoration-none" asp-route="Author" asp-route-id="@editor.Id">
                                @editor.GetFormattedName()
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>