@model GetNewsEditorListDto
@{
    ViewData["Title"] = "Authors";
}

@section Styles
{
    <style>
        .authors-list-header {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .authors-list-container .authors-list-container__grid .authors-list-container__grid__item .card {
            height: 150px;
        }

            .authors-list-container .authors-list-container__grid .authors-list-container__grid__item .authors-list-container__grid__item__news-source {
                gap: 5px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }

                .authors-list-container .authors-list-container__grid .authors-list-container__grid__item .authors-list-container__grid__item__news-source .authors-list-container__grid__item__news-source__title {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    text-overflow: ellipsis;
                    line-clamp: 1;
                    text-decoration: none;
                    -webkit-box-orient: vertical;
                }

                .authors-list-container .authors-list-container__grid .authors-list-container__grid__item .authors-list-container__grid__item__news-source .authors-list-container__grid__item__news-source__logo {
                    width: 16px;
                    height: 16px;
                    object-fit: cover;
                }

            .authors-list-container .authors-list-container__grid .authors-list-container__grid__item .authors-list-container__grid__item__name {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                line-clamp: 2;
                text-decoration: none;
                -webkit-box-orient: vertical;
            }
    </style>
}

<h1>News authors list</h1>
<hr />
<div class="row">
    <div class="col-xl-4">
        <partial name="_Filters" model="@Model" />
        <hr class="d-xl-none" />
    </div>
    <div class="col-xl-8">
        <partial name="_List" model="@Model" />
        <partial name="_Pagination" model="@Model.Result.ToPaginationModel("newsEditorListForm")" />
    </div>
</div>