@model IReadOnlyCollection<News>

<h1>Recent news</h1>
<hr />
<div class="recent-news-grid row mb-3 text-center g-3">
    @foreach (var news in Model)
    {
        <div class="recent-news-grid__item col-12 col-md-6 col-lg-4 col-xl-3">
            <partial name="_NewsItemLiteCard" model="@news" />
        </div>
    }
</div>
<div class="d-grid">
    <button class="w-100 btn btn-primary btn-lg">
        <a class="text-decoration-none text-reset" asp-route="NewsList">
            More news
        </a>
    </button>
</div>