@model IReadOnlyCollection<News>

<h1>Recent news</h1>
<hr />
<div class="recent-news-grid row mb-3 text-center g-3">
    @foreach (var news in Model)
    {
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card overflow-hidden">
                <div class="card-body">
                    <div class="row justify-content-around h-100">
                        @if (news.Editor?.Source is not null)
                        {
                            <div class="col-12 align-self-center">
                                <a class="text-decoration-none" asp-route="Source" asp-route-id="@news.Editor.Source.Id">
                                    @news.Editor.Source.Title
                                </a>
                            </div>
                        }
                        <div class="col-12 align-self-center">
                            <a class="text-decoration-none" asp-route="News" asp-route-id="@news.Id">
                                @news.Title
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="d-grid">
    <button class="w-100 btn btn-primary btn-lg">
        <a class="text-decoration-none text-reset" asp-route="NewsList">
            More news
        </a>
    </button>
</div>