/* stylelint-disable stylistic/selector-list-comma-newline-after */

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 0.8rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

@media (min-width: 481px) {
    .blog-header-logo {
        font-size: 0.95rem;
    }
}

@media (min-width: 576px) {
    .blog-header-logo {
        font-size: 1.35rem;
    }
}

@media (min-width: 768px) {
    .blog-header-logo {
        font-size: 1.85rem;
    }
}

@media (min-width: 992px) {
    .blog-header-logo {
        font-size: 2.25rem;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 32rem;
}

header {
    background-color: var(--bs-body-bg);
}

div.nav-scroller {
    background-color: var(--bs-body-bg);
}

.hotline-header {
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

    .hotline-header .hotline-header__header {
        gap: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .hotline-header .hotline-header__header .spinner-grow {
            margin-bottom: 0.5rem;
        }

.hotline-container {
    display: flex;
    overflow: auto;
    max-height: 300px;
    flex-direction: column;
}

    .hotline-container .hotline-container__item {
        gap: 10px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 50px;
    }

        .hotline-container .hotline-container__item + .hotline-container__item {
            border-top: 1px solid var(--bs-border-color);
        }

        .hotline-container .hotline-container__item .hotline-container__item__added-time {
            width: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            min-width: 100px;
        }

        .hotline-container .hotline-container__item .hotline-container__item__content {
            gap: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .hotline-container .hotline-container__item .hotline-container__item__content .hotline-container__item__content__news-source img {
                width: 32px;
                height: 32px;
                object-fit: cover;
            }

            .hotline-container .hotline-container__item .hotline-container__item__content .hotline-container__item__content__news-title {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
                line-clamp: 1;
                -webkit-box-orient: vertical;
                text-decoration: none;
            }

nav[aria-label="Page navigation"] a[class="page-link"] {
    cursor: pointer;
}

.news-item-lite-card .card {
    height: 150px;
}

    .news-item-lite-card .news-item-lite-card__title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        text-overflow: ellipsis;
        line-clamp: 3;
        text-decoration: none;
        -webkit-box-orient: vertical;
    }

    .news-item-lite-card .news-item-lite-card__news-source {
        gap: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .news-item-lite-card .news-item-lite-card__news-source .news-item-lite-card__news-source__title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .news-item-lite-card .news-item-lite-card__news-source .news-item-lite-card__news-source__logo {
            width: 16px;
            height: 16px;
            object-fit: cover;
        }

.news-item-extended-card .news-item-extended-card__picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.news-item-extended-card .news-item-extended-card__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    line-clamp: 2;
    text-decoration: none;
    -webkit-box-orient: vertical;
}

.news-item-extended-card .news-item-extended-card__sub-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.news-item-extended-card .news-item-extended-card__news-source {
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .news-item-extended-card .news-item-extended-card__news-source .news-item-extended-card__news-source__title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .news-item-extended-card .news-item-extended-card__news-source .news-item-extended-card__news-source__logo {
        width: 16px;
        height: 16px;
        object-fit: cover;
    }

#carouselRecentNews.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carouselRecentNews.carousel .carousel-caption .carousel-caption__news-source {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

    #carouselRecentNews.carousel .carousel-caption .carousel-caption__title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        color: var(--bs-body-color);
    }

    #carouselRecentNews.carousel .carousel-caption .carousel-caption__sub-title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        color: var(--bs-body-color);
    }

    #carouselRecentNews.carousel .carousel-caption .carousel-caption__news-source .carousel-caption__news-source__title {
        color: var(--bs-body-color);
        text-decoration: none;
    }

    #carouselRecentNews.carousel .carousel-caption .carousel-caption__news-source .carousel-caption__news-source__logo {
        width: 32px;
        height: 32px;
        object-fit: cover;
    }

.recent-news-side-bar {
    overflow: auto;
    max-height: 100vh;
}

    .recent-news-side-bar .recent-news-side-bar__item__news-source {
        gap: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

        .recent-news-side-bar .recent-news-side-bar__item__news-source .recent-news-side-bar__item__news-source__title {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .recent-news-side-bar .recent-news-side-bar__item__news-source .recent-news-side-bar__item__news-source__logo {
            width: 16px;
            height: 16px;
            object-fit: cover;
        }