div.container {
  header {
    .blog-header-logo {
      &:hover {
        text-decoration: none; 
      }
    
      font-family: "Playfair Display", Georgia, "Times New Roman", serif;
      font-size: 2.25rem;
    }
    
    background-color: var(--bs-body-bg);
  }
  
  z-index: 100;
}