@model GetNewsSourceListDto
@{
    ViewData["Title"] = "Sources";
}

@section Styles
{
    <style>
        .news-sources-header {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            line-clamp: 1;
            -webkit-box-orient: vertical;
        }

        .news-sources-container .news-sources-container__grid__item img {
            object-fit: cover;
        }

            .news-sources-container .news-sources-container__grid__item .news-sources-container__grid__item__title {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
                line-clamp: 1;
                -webkit-box-orient: vertical;
            }
    </style>
}

<h1>News sources list</h1>
<hr />
<div class="row">
    <div class="col-xl-4">
        <partial name="_Filters" model="@Model" />
        <hr class="d-xl-none" />
    </div>
    <div class="col-xl-8">
        <partial name="_List" model="@Model" />
        <partial name="_Pagination" model="@Model.Result.ToPaginationModel("newsSourceListForm")" />
    </div>
</div>