@model IReadOnlyCollection<NewsSource>
@{
    ViewData["Title"] = "Sources";
}

<div class="row g-3">
    @foreach (var newsSource in Model)
    {
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <a class="card shadow-sm" asp-route="Source" asp-route-id="@newsSource.Id">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                <div class="card-body">
                    <p class="card-text text-center">@newsSource.Title</p>
                </div>
            </a>
        </div>
    }
</div>